<h1>verify your mobile </h1>
<form >
    <input id="mobile_number" type="text" name="mobile" placeholder="Enter your mobile number" required>
    <input id="send_otp_button" type="submit" value="send otp">

</form>

<form action="/users/create" method="POST">
    <input type="text" name="otp" placeholder="Enter the send otp" required>
    <input type="submit" value="submit otp">

</form>

<script src="/js/verifyMobile.js"></script>